extends layout/main.pug

block vars
  - const title = 'Портфолио - Rentavik';
  - const pagetype = 'portfolio blue';

block content

  section.jumbotron.blue.triangles.colorize-bg

    figure.triangle_l
      include svg/triangle.pug
    figure.triangle_r
      include svg/triangle.pug

    .container
      .row
        .col.text-center.mb-5
          h1 Корпоративный сайт агентства «Рентавик»
          .lead: strong Современный портал для торговли недвижимостью
      .full-w.bordered
        img(src="./img/portfolio/rentavik/img1.png" alt="")

  section
    .container
      .row
        .col.text-center.mb-5
          .h1 Многофункциональный и интуитивно-понятный<br><span class="colorize-text">фильтр</span> для клиентов
          .lead Глубокая система настроек фильтра позволяет сотрудникам быстро и точно подобрать подходящее клиенту помещение
    .bg-light
      .container
        .full-w
          img(src="./img/portfolio/rentavik/img2.png" alt="")

  section.left-side: .container-fluid
    .row
      .col-12.col-lg-5.d-flex.flex-column.justify-content-center.bg-light
        .row.justify-content-end
          .col-12.col-lg-9.text-center.py-5
            include svg/map.pug
            .h1 Все объекты из базы данных на <span class="colorize-text">карте</span>

      .col-12.col-lg-7.px-0
        .full-h
          img(src="./img/portfolio/rentavik/img3.png" alt="")

  section
    .container
      .row
        .col.text-center.mb-5
          .h1.colorize-text.colorize-text Удобство
          .lead Функционал позволяет определить и точное местоположение отдельного объекта
    .bg-light
      .container
        .full-w
          img(src="./img/portfolio/rentavik/img4.png" alt="")

  section.right-side: .container-fluid
    .row
      .col-12.col-lg-7.px-0
        .full-h
          img(src="./img/portfolio/rentavik/img5.png" alt="")

      .col-12.col-lg-5.d-flex.flex-column.justify-content-center.bg-light
        .row
          .col-12.col-lg-9.py-5
            .h1.colorize-text Карта метрополитена
            p Функция поиска объектов по карте метрополитена дает возможность выбирать линии метро или отдельные станции внутри кольцевых

  section.left-side: .container-fluid
    .row
      .col-12.col-lg-5.d-flex.flex-column.justify-content-center.bg-light
        .row.justify-content-end
          .col-12.col-lg-9.py-5
            .h1.colorize-text Быстрый поиск
            p Классическая система быстрого поиска позволяет найти бизнес-центр или его адрес по названию.
            p Просто введите начало адреса и поисковик предложит список подходящих вариантов

      .col-12.col-lg-7.px-0
        .full-h
          img(src="./img/portfolio/rentavik/img6.png" alt="")

  section
    .container
      .row
        .col.text-center.mb-5
          .h1.colorize-text СПИСОК НАЙДЕНЫЙ ОБЪЕКТОВ
          .lead Список найденных объектов дополнен необходимой информацией о помещениях и приятно визуально оформлен
    .full-w
      img(src="./img/portfolio/rentavik/img7.png" alt="")

  section.left-side: .container-fluid
    .row
      .col-12.col-lg-5.d-flex.flex-column.justify-content-center.bg-light
        .row.justify-content-end
          .col-12.col-lg-9.py-5
            .h1.colorize-text Презентации
            p Автоматическая генерация выбранных презентаций в формат PDF в фирменном стиле компании «Рентавик»

      .col-12.col-lg-7.px-0
        .full-h
          img(src="./img/portfolio/rentavik/img9.png" alt="")

  section
    .container
      .row
        .col.text-center.mb-5
          .h1.colorize-text Карточка объекта
          .lead Карточка объекта содержит для клиента детальную информацию об особенностях здания и свободной площади
    .bg-light
      .container
        .full-w
          img(src="./img/portfolio/rentavik/img10.png" alt="")

  section.right-side: .container-fluid
    .row
      .col-12.col-lg-7.px-0
        .full-h
          img(src="./img/portfolio/rentavik/img11.png" alt="")

      .col-12.col-lg-5.d-flex.flex-column.justify-content-center.bg-light
        .row
          .col-12.col-lg-9.py-5
            .h1.colorize-text Редактирование
            p Сотрудники компании имеют возможность быстрого доступа к редактированию информации содержащейся в карточках, без необходимости использования сложных панелей управления порталом

  section.left-side: .container-fluid
    .row
      .col-12.col-lg-5.d-flex.flex-column.justify-content-center.bg-light
        .row.justify-content-end
          .col-12.col-lg-9.py-5
            .h1.colorize-text Подсказки
            p Автоматические подсказки при вводе адреса помогают посетителям сайта обнаружить искомый объект

      .col-12.col-lg-7.px-0
        .full-h
          img(src="./img/portfolio/rentavik/img12.png" alt="")

  section
    .container
      .row
        .col.text-center.mb-5
          .h1.colorize-text Управление рекламой
          .lead Созданные объекты автоматически экспортируются в выгрузки наиболее популярных российских сайтов по продаже недвижимости. Дополнительные настройки позволяют управлять платными опциями, а также доступом к объектам для сотрудников
    .bg-light
      .container
        .full-w
          img(src="./img/portfolio/rentavik/img13.png" alt="")
