* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 0 0 transparent;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

[disabled="disabled"] {
  cursor: default !important;
}

b,
strong,
.strong {
  font-weight: 600;
}

.stronger {
  font-weight: 700;
}

h1,
.h1 {
  margin-bottom: 3rem;
  color: #232323;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 + .lead,
.h1 + .lead {
  margin-top: -2.4rem;
}

h2,
.h2 {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

h3,
.h3 {
  margin-bottom: 2.5rem;
  font-size: 1.3125rem;
  font-weight: 600;
}

h4,
.h4 {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  font-weight: 600;
}

h5,
.h5 {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
}

h6,
.h6 {
  margin-bottom: 2.5rem;
  font-size: 1rem;
}

.section-title {
  margin-bottom: 60px;
}

.lead {
  display: block;
  font-size: 18px;
  text-transform: none;
}

ul:not([class]),
ol:not([class]) {
  display: block;
  margin-left: 55px;
}

.btn-primary {
  font-weight: 700;
  background-image: linear-gradient(225deg, #e61225 0%, #ff1f34 100%);
}

.form-group .form-check {
  margin-bottom: 15px;
}

.form-control {
  background-color: #fdfdfd;
}

::-webkit-input-placeholder {
  color: #dbdbdb;
  font-size: 15px;
}

::-moz-placeholder {
  color: #dbdbdb;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: #dbdbdb;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: #dbdbdb;
  font-size: 15px;
}

::placeholder {
  color: #dbdbdb;
  font-size: 15px;
}

input.custom-control-input ~ label {
  margin-left: 26px;
}

input.custom-control-input ~ label::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 1.25rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f8f9fa;
}

input.custom-control-input ~ label::after {
  content: '';
  position: absolute;
  top: 6px;
  left: calc(1.25rem + 2px);
  display: inline-block;
  width: 10px;
  height: 10px;
}

input.custom-control-input[type=radio] ~ label::before,
input.custom-control-input[type=radio] ~ label::after {
  border-radius: 50%;
}

input.custom-control-input:checked ~ label::after {
  background-color: #f00d22;
}

input.custom-control-input:disabled ~ label {
  color: #ced4da;
}

.full-w,
.full-h {
  position: relative;
  overflow: hidden;
}

.full-w {
  width: 100%;
}

.full-w img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.full-h {
  height: 100%;
}

.full-h img {
  display: inline-block;
  width: auto;
  height: 100%;
}

.right-side .full-w,
.right-side .full-h,
.left-side .full-w,
.left-side .full-h {
  height: 500px;
}

.right-side .full-w img,
.right-side .full-h img,
.left-side .full-w img,
.left-side .full-h img {
  position: absolute;
  top: 0;
  left: 0;
}

.right-side .full-w img,
.right-side .full-h img {
  left: auto;
  right: 0;
}

.logo svg {
  width: auto;
  height: 40px;
}

.logo svg path.logo-text {
  fill: #000;
}

.index .header .logo svg path.logo-text {
  fill: #fff;
}

.menu-trigger {
  padding-left: 60px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: red;
  text-transform: uppercase;
  -webkit-transition: background 0.3s, color 0.5s;
  transition: background 0.3s, color 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.menu-trigger:focus {
  outline: none;
}

.menu-trigger span {
  display: block;
  width: 40px;
  height: 1px;
  position: absolute;
  top: 14px;
  left: 0;
  background: red;
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.menu-trigger span::before,
.menu-trigger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: #fff;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.menu-trigger span::before {
  top: -14px;
  -webkit-transition-property: top, \transform;
  transition-property: top, \transform;
}

.menu-trigger span::after {
  bottom: -15px;
  -webkit-transition-property: bottom, \transform;
  transition-property: bottom, \transform;
}

.navbar {
  flex-wrap: nowrap;
  padding: 0;
}

nav.navbar-collapse {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

nav.navbar-collapse .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin: 0 4%;
  width: 80%;
}

nav .nav-item {
  margin: 0 2%;
}

nav .nav-link {
  color: #232323;
}

nav .nav-link-toggle::after {
  content: "\f107";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 65%;
  font-weight: 900;
  margin-left: .5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 0;
}

nav .navbar-collapse .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

a.target-burger {
  display: none;
  margin-left: 1.875rem;
  width: 61px;
  height: 30px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

a.target-burger:hover {
  cursor: pointer;
  opacity: .45;
}

a.target-burger.toggled ul.buns li.bun {
  background-color: #f00d22;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}

a.target-burger.toggled ul.buns li.bun:last-child {
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
}

a.target-burger ul.buns {
  width: 31px;
  height: 31px;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
}

a.target-burger ul.buns li.bun {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: -.75px;
  -webkit-transform: translateY(-3.75px) translateZ(0);
  transform: translateY(-3.75px) translateZ(0);
  -webkit-transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

a.target-burger ul.buns li.bun:last-child {
  -webkit-transform: translateY(3.75px) translateZ(0);
  transform: translateY(3.75px) translateZ(0);
}

.header {
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
  z-index: 200;
}

.index .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.index .header a {
  color: #fff;
}

.index .header .call {
  color: #fff;
}

.index .header .call .btn {
  color: #fff;
  border-color: #fff;
}

.call {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: right;
}

.phone {
  margin-bottom: 0.75rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.3125rem;
  white-space: nowrap;
}

.phone span {
  color: #f00d22;
}

.breadcrumb {
  margin: 0;
  padding: 10px 0 0;
  background-color: transparent;
  border-radius: 0;
}

.breadcrumb-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}

.breadcrumb-item a {
  color: #232323 !important;
}

.breadcrumb-item i.fa,
.breadcrumb-item i.fa::before {
  color: #f00d22;
  font-size: 16px;
  margin-right: 4px;
}

.breadcrumb-item:last-child {
  color: #f00d22;
}

.breadcrumb-item::before {
  position: relative;
  top: 3px;
  opacity: 0.6;
}

section {
  padding: 90px 0;
}

.header + section,
section.breadcrumb-nav + section,
section.breadcrumb-nav,
section.main {
  padding-top: 25px;
}

section.breadcrumb-nav {
  padding-bottom: 0;
}

.top {
  padding-bottom: 200px;
  height: 100vh;
  background: #f8f9fa url(../img/top.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.top .container,
.top .top-box {
  height: 100%;
}

.statistics {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.statistics ul {
  list-style-type: none;
}

.statistics ul li {
  min-height: 130px;
  background: url(../img/separator.png) 100% 50% no-repeat;
}

.statistics ul li:last-child {
  background: none;
}

.statistics ul li p {
  color: #fff;
}

.statistics ul li .num {
  font-size: 28px;
  font-weight: 700;
}

.pricies .price {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  text-align: right;
  white-space: nowrap;
}

.pricies .price span {
  font-size: 14px;
}

.rise {
  padding-top: 100px;
}

.rise-chart {
  position: relative;
  margin: 0 auto 60px;
  height: 300px;
}

.rise-point {
  position: absolute;
  margin-top: -150px;
}

.rise-point .btn {
  display: inline-block;
  margin-bottom: 6px;
  padding: 4px 6px;
}

.rise-point_title {
  margin-bottom: 6px;
  font-weight: bold;
  line-height: 1rem;
}

.rise-point p {
  font-size: 12px;
}

.jumbotron {
  background: url(../img/2850887.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.projects .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "b1 b1 b1 b2 b2" "b3 b3 b4 b4 b4";
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.projects .grid-container .projects-block {
  padding: 30px;
  border-radius: 8px;
}

.projects .grid-container .projects-block * {
  color: #fff;
}

.projects .grid-container .b1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: b1;
  background-color: #a7cdce;
}

.projects .grid-container .b2 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: b2;
  background-color: #0174ff;
}

.projects .grid-container .b3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: b3;
  background-color: #0f99fa;
}

.projects .grid-container .b4 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: b4;
  background-color: #e1bd6f;
}

.work .case {
  padding: 30px;
  border-radius: 8px;
  background: url(../img/case-img.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.work .case * {
  color: #fff;
}

.work .case h2 {
  font-size: 2.5rem;
}

.work .case .tag {
  border-color: #fff;
}

.contacts .contact {
  background-image: url(../img/pattern.png), linear-gradient(225deg, #ff263c 0%, #f00d22 100%);
  background-position: 0 4%;
  background-repeat: repeat;
}

.contacts .contact * {
  color: #fff;
}

.contacts .map {
  height: 50vh;
}

.contacts .svg-map path {
  fill: #fff;
}

.tags {
  margin: 16px 0 24px;
}

.tags .tag {
  margin: 5px;
  padding: .4rem .6rem;
}

.index .top {
  padding-top: 140px;
}

.footer {
  padding: 20px 0;
  width: 100%;
  background-color: #fdfdfd;
  z-index: 200;
}

@media (max-width: 1020px) {
  nav.navbar-collapse {
    display: none;
  }

  a.target-burger {
    display: block;
  }
}

@media (max-width: 768px) {
  .projects .grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'b1' 'b2' 'b3' 'b4';
  }
  .projects .grid-container .b1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .projects .grid-container .b2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .projects .grid-container .b3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .projects .grid-container .b4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 767px) {
  .top {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .statistics {
    position: relative;
    bottom: auto;
    background-color: #f8f9fa;
  }

  .statistics ul li p {
    color: #232323;
  }

  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .index .top {
    padding-top: 100px;
  }
}

@media (max-width: 600px) and (orientation: landscape), (max-width: 575.98px) {
  .index .top h1 {
    font-size: 2rem;
  }
}

@media (max-width: 575px), (max-height: 660px) {
  .index .top {
    height: 100%;
  }

  .index .top .statistics {
    position: absolute;
    left: 0;
    bottom: -270px;
    width: 100%;
    background-color: #f8f9fa;
  }

  .index .top .statistics p {
    color: #333;
  }

  .index .pricies {
    margin-top: 270px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 8px 0;
  }

  .header .logo img {
    height: 40px;
  }

  html {
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  .logo svg {
    height: 30px;
  }
}