footer.footer: .container
  .navbar
    include ../elements/_el_logo.pug

    nav.navbar-collapse
      ul.navbar-nav
        +onelevel_menu_b4(['Создание', 'Продвижение', 'Поддержка', 'Услуги', 'Контакты'])

    .call
      .phone +7 <span>(495)</span> 240-82-92

  //- form(action="#")
  //-   .inp-group
  //-     label(for="email") Sign up for our newsletter
  //-     input.form-control(type="email" name="email" id="email" placeholder="Email Address")
  //-   button.btn.btn__submit.yellow.ng-bob Submit

  //- p Copyright © 2020 TriadaSite

